<article class="col-12 border-start border-primary">
    <div class="col-12">
        <h5>{{user_id}}</h5>
    </div>
    <div class="col-12">
        <p>
            {{comment_text}}
        </p>
    </div>
</article>