<article class="col-12 border-start border-primary">
                <div class="col-12">
                    <h5>Random User</h5>
                </div>
                <div class="col-12">
                    <p>
                        Thank you for telling us about your wonderful experience!
                    </p>
                </div>
            </article>