<div class="col-12 p-0 d-flex justify-content-between">
    <h1>Featured</h1>

    {{#if loggedIn}}
    <div class="d-flex align-items-end">
       {{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sign-in-modal" id="logout">Log out</button> --}}
       <button type="button" class="btn btn-primary" id="logout">Log out</button>
    </div>

    {{else}}
    <div class="d-flex align-items-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sign-in-modal">Login/signup</button>
    </div>

    {{/if}}
</div>

{{#each posts as |post|}}
        {{> single-post post}}
    {{/each}}